body{
  ::selection { background: red; color: white;}
  p{
    font-family: 'Asul', serif;
    font-weight: 400;
    font-size: .75em;
    line-height: 1.5em;
    color: rgb(150, 150, 150);
  }
  h5{
    font-family: 'Asul', serif;
    font-size: 1.25em;
    line-height: 1.5em;
    color: red;
  }
  h4{
    font-family: 'asul', serif;
    font-size: .75em;
    line-height: 1.5em;
  }
  h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
  }
  h2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.25em;
  }
  h1{
    font-family: 'Asul', serif;
    font-size: 4em;
    line-height: 1.5em;
  }

}
//---------- RANDOM ----------//
#clickMe{
  // background: red;
  height: 64px; width: 64px;
  position: fixed;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  h5{color:white;}
  z-index: 2;
  border: solid 1px white;

}

//---------- LAYOUT ----------//
.pad{
  padding: .5em;
  border-right: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
}
.number, .glyph,{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles{
  display: flex;
  flex-flow: wrap;
  p{
    align-self: flex-start;
  }
  h2{
    align-self: flex-end;
    margin-top: 1em;
  }
  h4{
    align-self: flex-end;
  }
}
.description{
  p,.img_small{margin-bottom: .5em;}
  button{margin-top: 1.25em;}
}
.big-paragraph{
  // background: red;
  h3{
    margin-bottom:1.25em;
  }
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
//---------- LINKS ----------//
button{
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;

  background: black;
  color:white;
  padding: .5em 1em;
  border: none;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  font-family: 'Work Sans', sans-serif;
  border-radius: 2px;
}
button:hover {
    background-color:red;
    color: white;
}
.p-link{
  color: red;
  text-decoration: none;
}
.p-link:hover{
  text-decoration: underline;
}
li{
  display: inline;
  a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: .75em;
    text-decoration: none;
    color: black;
  }
  a:hover{
    color: red;
  }
}
.logo-link{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.logo-link:hover{
  color: white;
}
//---------- ILF ----------//
.img_small{
  height: 50%; width: 100%;
  background-image: url("../../_dist/img/doggy.jpg");
  background-size: cover;
  background-position: center;
}

.img_big{
  height: 100%; width: 100%;
  background-image: url("../../_dist/img/doggy.jpg");
  background-size: cover;
  background-position: center;
}

.container{
  display: grid;
  // grid-template-columns:424px 256px 512px 512px 512px 256px 40px;
  grid-template-columns:2fr 1fr 2fr 2fr 2fr 1fr 40px;
  grid-template-rows:1fr 1fr;
  height: 99.9vh; width: 2512px;
}

.intro{
  grid-column:1 / 2;
  grid-row: 1 / 3;
  display: flex;
  margin-bottom: -.05em;

  background-image: url("../../_dist/img/6.jpg");
  background-size: cover;
  background-position: center;
  .red-block{
    ::selection { background: black; color: white;}
    background: red;
    padding: .75em;
    height: auto; width: 50%;
    align-self: flex-end;
    p{color: white;} h5{color: black;margin-bottom: 1em;}
  }
}

.one-update{
  grid-column:2 / 3;
  grid-row: 1 / 3;
  .img_small{
    background-image: url("../../_dist/img/8.png");
  }
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr 2fr;
  .number{
    grid-column:1 / 2;
    grid-row: 1 / 2;
  }
  .glyph{
    grid-column:2 / 3;
    grid-row: 1 / 2;
    // background: green;
  }
  .titles{
    grid-column:1 / 3;
    grid-row: 2 / 3;
    // background: grey;
  }
  .description{
    grid-column:1 / 3;
    grid-row: 3 / 4;
    // background: blue;
  }
}

.about-me{
  grid-column:3 / 4;
  grid-row: 1 / 3;

  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 3fr;
  .about{
    grid-column:1 / 2;
    grid-row: 1 / 2;
  }
}

.two-update{
  grid-column:4 / 5;
  grid-row: 1 / 2;
  .img_small{
    background-image: url("../../_dist/img/3.jpg");
  }
  display: grid;
  grid-template-columns:1fr 1fr 2fr;
  grid-template-rows:1fr 1fr;
  .number{
    grid-column:1 / 2;
    grid-row: 1 / 2;
    // background: orange;
  }
  .glyph{
    grid-column:2 / 3;
    grid-row: 1 / 2;
    // background: green;
  }
  .titles{
    grid-column:1 / 3;
    grid-row: 2 / 3;
    // background: grey;
  }
  .description{
    grid-column:3 / 4;
    grid-row: 1 / 4;
    // background: blue;
  }
}

.three-update{
  grid-column:5 / 6;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns:1fr 1fr 2fr;
  grid-template-rows:1fr 1fr;
  .img_small{
    background-image: url("../../_dist/img/7.jpg");
  }
  .number{
    grid-column:1 / 2;
    grid-row: 1 / 2;
    // background: orange;
  }
  .glyph{
    grid-column:2 / 3;
    grid-row: 1 / 2;
    // background: green;
  }
  .titles{
    grid-column:1 / 3;
    grid-row: 2 / 3;
    // background: grey;
  }
  .description{
    grid-column:3 / 4;
    grid-row: 1 / 4;
    // background: blue;
  }
}

.four-update{
  grid-column:4 / 6;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns:4fr 1fr 1fr 2fr;
  grid-template-rows:1fr 1fr;
  .img_big{
    background-image: url("../../_dist/img/1.jpg");
  }
  .img_small{
    background-image: url("../../_dist/img/9.jpg");
  }
  .big-image{
    grid-column:1 / 2;
    grid-row: 1 / 3;
    // background: purple;
  }
  .number{
    grid-column:2 / 3;
    grid-row: 1 / 2;
    // background: orange;
  }
  .glyph{
    grid-column:3 / 4;
    grid-row: 1 / 2;
    // background: green;
  }
  .titles{
    grid-column:2 / 4;
    grid-row: 2 / 3;
    // background: grey;
  }
  .description{
    grid-column:4 / 5;
    grid-row: 1 / 3;
    // background: blue;
  }
}

.goodbye{
  grid-column:6 / 7;
  grid-row: 1 / 3;
  grid-gap: 1px;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:1fr 1fr;
  .img_big{
    background-image: url("../../_dist/img/main-profile.jpg");
  }
  .img_medium{
    grid-column:1 / 2;
    grid-row: 1 / 2;
    // background: red;
  }
  .big-paragraph{
    grid-column:1 / 2;
    grid-row: 2 / 3;
    // background: yellow;
  }
}

.black{
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;

  margin-bottom: -.05em;
  grid-column:7 / 8;
  grid-row: 1 / 3;
  background: black;
  display: flex;
  justify-content: center;
  h5{
    align-self: center;
    color: white;
  }
}
.black:hover{
  background: red;
}
//---------- MODAL ----------//
.overlay {
    display: none;
    position: absolute;

    ::selection { background: black; color: white;}
    z-index: 1;
    background: rgba(255, 0, 0, 0.8);
    height: 100vh; width: 2512px;
    color: white;
    h1{
      font-size: 4.25em;
      padding: .5em;
    }
    ul{
      padding: 2em;
    }
    li{
      font-size: 5.75em;
      font-family: 'Asul', serif;
      line-height: 1em;
      color:white;
      font-weight: 400;
    }
    a{
      // font-size: 4.25em;
      font-family: 'Asul', serif;
      line-height: 1.5em;
      color:white;
      font-weight: 400;
    }
    a:hover{ color: black;}
}
.blue{
  display: block;
}
.noScroll{
  position: fixed;
}
.invert{
  background: red;
}
.invertClickMe{
  background: black;
}

.dropdown {
  opacity: 0;
  position: fixed;
  overflow: hidden;
  display: none;
  z-index: -1;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.popImgOne{
  height: 500px; width: 1000px;
  background-image: url("../../_dist/img/doggy.jpg");
  background-size: cover;
  background-position: center;
}


//---------- MOBILE ----------//
@media screen and (max-width: 600px) {
  .container-test{
    display: grid;
    // grid-template-columns:424px 256px 512px 512px 512px 256px 40px;
    grid-template-columns:100vw 100vw  100vw  100vw  100vw  100vw 20vw ;
    grid-template-rows:1fr 1fr;
    height: 99.9vh; width: auto;
  }
  .overlay{
    width: 100vw;
    position: fixed;
    h1{
      font-size: 1.5em;
      padding: 1.5em;
    }
    li{
      font-size: 2em;
      line-height: 1em;
    }
  }
}
